body {
    font-family: Arial, sans-serif;
}
h1 {
    text-align: center;
    /* background-color: #f4f4f4; */
    color: #ab1212;
}
.post {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background: #f9f9f9;
    border-radius: 5px;
}
.post h2 {
    margin: 0;
}
.post p {
    margin: 10px 0;
}
.post a {
    color: #ab1212;
    text-decoration: none;
}
.post a:hover {
    text-decoration: underline;
}
