<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New chat</title>
    <link rel="stylesheet" href="/style.css">
   

</head>

<body>
    <div class="bg">
        <form action="/chats" method="post">
            <label for="from">From:</label>
            <br>
            <input type="text" name="from" id="from" placeholder="Enter sender name">
            <br>
            <label for="msg">Message:</label>
            <br>
            <textarea name="msg" id="msg" cols="30" rows="10"></textarea>
      <br>      <label for="to">Reciever:</label>
            <br>
            <input type="text" name="to" id="to" placeholder="Enter reciever name">
            <button class="btn">Create</button>
        </form>
    </div>
</body>
</html>