<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new post</title>
</head>
<body>
    <div>
        <form method="post" action="/posts">
            <input type="text" name="username" placeholder="Username"><br><br>
            <textarea name="content" placeholder="Content"></textarea><br><br>
            <button>Post</button>
        </form>

        <a href="/posts">Back</a>
    </div>
</body>
</html>